<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Start</title>
  <style>
    .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 32px;
}

p {
    margin-top: -15px;
    font-size: 18px;
}

.buttons {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}
    </style>

</head>
<body>
<div class="container">
  <img src="https://cdn-icons-png.flaticon.com/512/6229/6229134.png" style="width: 100px; height: 100px">
  <h1>Welcome!</h1>
  <p>Choose an option:</p>
  <div class="buttons">
    <a th:href="@{/register}" class="btn">Create account</a> <!-- Botão para a página de registro -->
    <a th:href="@{/login}" class="btn">Login</a> <!-- Botão para a página de login -->
  </div>
</div>
</body>
</html>